* {
  margin: 0;
  padding: 0;
}
html{
  font-family: "Roboto", sans-serif;
}
html,body{
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  background-color: #c0d6e4;
}
img{
  max-width: 100%;
  height: auto;
}
.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
} 
.container > div{
  /* border: 1px solid black; */
}
.header{
  background-color: white;
  display: grid;
  grid-column: 2/4;
  grid-template-columns: 1fr 1fr ;
  padding-top: 20px;
}
.search{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  align-items: center;
}
#search-icon{
  grid-column: 1/2;
}
.search-bar{
  grid-column: 2/8;
}
.search-bar>input{
  border: 2px, solid, black;
  border-radius: 16px;
  width: 100%;
  background-color: #b0c4de;
  padding: 4px;
  padding-left: 10px;
  text-align: initial;
}
.header-user{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
}

#bell-icon{
  grid-column: 3;
}
#header-pfp{
  grid-column: 4;
}
#header-username{
  grid-column: 5/8;
  font-weight: bolder;
  font-size: 4rem;
}

.search-icon>img{
  max-width: 25px;
  max-height: 25px;
}
.pfp{
  max-width: 50px;
  max-height: 50px;
}

.sidebar{
  background-color: #3498db;
  color: white;
  font-weight: bold;
  grid-column: 1/2;
  grid-row: 1/7;
  display: grid;
  grid-template-rows: repeat(8, 100px);
  row-gap: 10px;
  padding-right: 10px;
}
.sidebar-header{
  grid-row: 1/2;
  display: grid;
}
.sidebar-header-item{
  display: grid;
  grid-template-columns: repeat(6,50px);
  align-items: center;
}
.dashboard-icon{
  grid-column: 2;
}
.sidebar-header-item>p{
  font-size: 1.5rem;
  grid-column: 4;
}
.sidebar-body{
  grid-row: 2/6;
  display: grid;
}
.sidebar-item{
  display: grid;
  grid-template-columns: repeat(6,50px);
  align-items: center;
}
.sidebar-icon{
  grid-column: 3;
}
.sidebar-footer{
  display: grid;
  grid-row: 6/8;
}

.dashboard-icon{
  max-width:  50px;
  max-height: 50px;
}
.sidebar-icon{
  max-width: 25px;
  max-height: 25px;
}

.profile-header{
  background-color: white;
  display: grid;
  grid-column: 2/4;
  grid-template-columns: repeat(2,1fr);
  border: 1px solid transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}
#profile-pfp{
  max-width: 75px;
  max-height: 75px;
}
.profile-tag{
  display: grid;
  grid-template-columns: repeat(8,50px);
  grid-template-rows: repeat(4,25px);
}
.profile-img{
  grid-row: 2/4;
  grid-column: 2/4;
}
.profile-description{
  grid-row: 2/4;
  grid-column: 4/6;
  display: grid;
  grid-template-rows: repeat(2,1fr);
}
.greeting{
  font-size: 0.75rem;
  justify-self: start;
}
.username{
  text-wrap: nowrap;
}
.actions  {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  align-items: center;
}
.action>button{
  color: white;
  font-weight: bold;
  background-color: #3498db;
  border-radius: 16px;
  border: 2px solid transparent;
  width: 100%;
  padding: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
#new-button{
  grid-column: 3;
}
#upload-button{
  grid-column: 5;
}
#share-button{
  grid-column: 7;
}
.action>button:active{
  background-color: #2980b9;
}
.project{
  background-color: #c0d6e4;
  display: grid;
  gap: 15px;
}
.cards{
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.project-title{
  font-weight: bold;
  justify-self: start;
  align-self: center;
  padding-left: 20px;
}
.card{
  background-color: white;
  display: grid;
  grid-template-rows: repeat(2,1fr);
  border: 1px solid transparent; 
  border-left: 8px solid #FFC107;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;

}
.card-icons{
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(6,1fr);
}
.card-text{
  display: grid;
  align-items: center;
}
.title{
  font-weight: bold;
  justify-self: start;
}
.description{
  font-size: 0.8rem;
  justify-self: start;
}

.star,.eye,.share{
  max-width: 25px;
  max-height: 25px;
  grid-row: 3;
}
.star{
  grid-column: 4;
}
.eye{
  grid-column: 5;
}
.share{
  grid-column: 6;
}
