* {
  margin: 0;
  padding: 0;
}
html{
  font-family: "Roboto", sans-serif;
}
img{
  max-width: 100%;
  height: auto;
}
.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
} 
.container > div{
  border: 1px solid black;
}
.header{
  display: grid;
  grid-column: 2/3;
  grid-template-columns: 1fr 1fr ;

}
.search{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  align-items: center;
}
#search-icon{
  grid-column: 1/2;
}
.search-bar{
  grid-column: 2/8;
}
.search-bar>input{
  border: 2px, solid, black;
  border-radius: 16px;
  width: 100%;
  background-color: #b0c4de;
  padding: 4px;
  padding-left: 10px;
  text-align: initial;
}
.header-user{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
}
.header>div{
}
#bell-icon{
  grid-column: 3;
}
#header-pfp{
  grid-column: 4;
}
#header-username{
  grid-column: 5/8;
  font-weight: bolder;
  font-size: 4rem;
}

.search-icon>img{
  max-width: 25px;
  max-height: 25px;
}
.pfp{
  max-width: 50px;
  max-height: 50px;
}
.profile-header{
  
}
.sidebar{
  background-color: #3498db;
  color: white;
  font-weight: bold;
  grid-column: 1/2;
  grid-row: 1/6;
  display: grid;
  grid-template-rows: repeat(8, 100px);
  row-gap: 10px;
}
.sidebar-header{
  grid-row: 1/2;
  display: grid;
}
.sidebar-header-item{
  display: grid;
  grid-template-columns: repeat(6,50px);
  align-items: center;
}
.dashboard-icon{
  grid-column: 2;
}
.sidebar-header-item>p{
  font-size: 1.5rem;
  grid-column: 4;
}
.sidebar-body{
  grid-row: 2/6;
  display: grid;
}
.sidebar-item{
  display: grid;
  grid-template-columns: repeat(6,50px);
  align-items: center;
}
.sidebar-icon{
  grid-column: 3;
}
.sidebar-footer{
  display: grid;
  grid-row: 6/8;
}

.dashboard-icon{
  max-width:  50px;
  max-height: 50px;
}
.sidebar-icon{
  max-width: 25px;
  max-height: 25px;
}
.project{

}
.noti{

}
.trending{

}
